@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222;
}

h1 {
    font-family: "Bonheur Royale", cursive;
    font-weight: 600;
    color: white;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.7),
        0 0 10px rgba(0, 0, 0, 0.8),
        0 0 20px rgba(0, 0, 0, 0.9);
    letter-spacing: 1px;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover {
    color: #F58d17;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    font-weight: 400;
    background-color: #FF9494;
    border-color: black;
    color: white
}

.btn-brand:hover {
    background-color: #FFD1D1;
    border-color: black;
    color: white;
}

.slide-1 {
    background: url(../images/slide1.jpg)
}

.slide-2 {
    background: url(../images/slide2.jpg)
}

.slide-3 {
    background: url(../images/slide3.jpg)
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-control-next:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    transition: background 0.3s ease;
}

.carousel-control-prev:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
    transition: background 0.3s ease;
}

.nav-link.active {
    font-weight: 700;
}

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 700px;
    margin: auto;
}

.nav-pills .nav-link {
    background-color: #FFD1D1;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.nav-pills .nav-link:hover {
    background-color: FFE3E1;
    color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.nav-pills .nav-link.active {
    background-color: #FF9494;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.appetizer-item,
.main-item,
.dessert-item {
    width: 300px;
    height: 340px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border-radius: 0px;
}

.appetizer-item:hover,
.main-item:hover,
.dessert-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.menu-item-content {
    margin-top: 10px;
    margin-left: 10px;
}

#about .divider {
    width: 140px;
    height: 2px;
    display: block;
    background-color: #FF9494;
}

#food-img {
    width: 300px;
    height: 225px;
}